body {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#top-left,
#top-right,
#btm-left,
#btm-right {
  font-family: monospace;
  background-color: cadetblue;
  display: inline-block;
  align-content: center;
  text-align: center;
}

#top-left > input {
  border: none;
  padding: 0 10px 0 10px;
  border-radius: 10px;
}
#top-left > input:focus {
  outline: none;
  background-color: aliceblue;
}

#top-left > input,
#top-left > p {
  font-size: 1.5rem;
}

#top-right {
  background-color: antiquewhite;
}
#top-right > button,
#counter,
#btm-left > button,
#btm-right > button {
  font-size: 1.5rem;
}
#btm-left {
  background-color: darkkhaki;
}

#toggle-box {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  position: relative;
  margin: 0 auto;
  background-color: aquamarine;
  visibility: hidden;
}
#btm-right {
  background-color: navajowhite;
}
#btm-right > input,
#btm-right > button {
  vertical-align: middle;
}

#list {
  text-align: start;
}
#reset-pg {
  font-size: 1.5rem;
  position: fixed;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -50px; /* Negative half of height. */
  margin-left: -50px; /* Negative half of width. */
}
