body {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#top-left {
  font-family: monospace;
  background-color: cadetblue;
  align-content: center;
  text-align: center;
}

#top-left > input {
  border: none;
  padding: 0 10px 0 10px;
  border-radius: 10px;
}
#top-left > input:focus {
  outline: none;
  background-color: aliceblue;
}

#top-left > input,
#top-left > p {
  font-size: 1.5rem;
}

#top-right {
  background-color: antiquewhite;
}
#btm-left {
  background-color: darkkhaki;
}
#btm-right {
  background-color: navajowhite;
}
